.header {
  background-color: rgb(10, 10, 45);
  color: white;
  min-height: 140px;
  display: flex;
  align-items: center;
  position: relative;
}

.imagen {
  max-width: 120px;
  max-height: 120px;
  padding: 10px;
  background-color: rgb(10, 10, 55);
  box-sizing: border-box;
}

.titulos h1, .titulos h2 {
  margin: 0;
  line-height: 1.2;
  padding-left: 10px;
  text-align: left;
}