body{
    background-color: #101a3a;
    margin: 0px;
    color: white;
}

h1{
    margin-bottom: 10px;
    padding: 20px;
    text-shadow: 0 0 12px #f9fbfb;
}

.explicacion{
    text-align: center;
}

.Propiedades{
    margin: 10px;
    padding: 30px;
}
.Propiedades h4{
    margin-bottom: 20px;
}
.prop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.exp{
    padding: 25px;
    background-color:#0a0f22;
    border-radius: 20px;
    font-size: large;
}
.exp h6{
    background-color: #1b3ab9;
    border-radius: 10px;
    padding: 5px;
}


.claseDeQubits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ejemplos{
    text-align: center;
    padding: 30px;
    font-size: large;
}

.qubits{
    padding: 20px;
    margin: 10px;
    color: #7f8cc2;
    background-color: #0a0f22;
    border-radius: 10px;
    font-size: large;
}

.qubits h5{
    color: #1b3ab9;
    text-align: center;
    font-weight: bold;
}

.qubits img{
    padding: 10px;
    width: 200px;
    border: 10px solid #6ee7ff;
    border-radius: 50%;
    box-shadow: 0 0 12px #6ee7ff; 
    transition: transform 0.4s ease;
}

.qubits img:hover{
    transform: translateX(10px);
}

.qubits .imagen{
    padding: 20px;
}

.qubits p{
    text-align: center;
}

.galeria{
    background-color:#0a0f22;
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
    justify-items: center;
}

.imagenes img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    align-items: center;
    border: 20px solid white;
    box-shadow: 0 0 12px #6ee7ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagenes img:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.imgmoneda img{
    border-radius: 15px;
}

.explicacion{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;  
}
.general{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.expQubits{
    padding: 20px;
    background-color:#0a0f22;
    border-radius: 20px;
    font-size: large;
    margin: 20px;
}

.expBits{
    padding: 10px;
    background-color:#0a0f22;
    border-radius: 20px;
    font-size: large;
    margin: 20px;
    
}
.expCuanticos{
    padding: 20px;
    background-color:#0a0f22;
    border-radius: 20px;
    font-size: large;
    margin: 20px;
}
.expCuanticos img{
    width: 300px;
}

.expCuanticos h4{
    padding: 10px;
}
.expBits h4{
    padding: 10px;
}